/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font: 16px/1.5 sans-serif;
	margin: 0;
}

/* barvicky elementů na stránce */
header,
footer {
	grid-column: 2 / 5;
	background: yellowgreen;
}

header {
grid-row: 1;
}

aside {
	grid-column: 4;
	grid-row: 2 / 4;
	background: beige;
}

nav {
	grid-column: 1;
	grid-row: 1 / 5;
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */

.grid {
	height: 100vh;
	display: grid;
	grid-template-columns: 20% auto auto 20%;
	grid-template-rows: 20% auto auto 20%;
}

