/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font: 16px/1.5 sans-serif;
	margin: 0;
}

/* barvicky elementů na stránce */
header,
footer {
	grid-column: 1 / 4;
	background: yellowgreen;
}

aside {
	grid-column: 3;
	grid-row: 2 / 4;
	background: beige;
}

nav {
	grid-column: 1;
	grid-row: 2 / 4;
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */

.grid {
	display: grid;
	grid-template-columns: 0.5fr 3fr 0.5fr;
	grid-template-rows: 1fr 2fr 1fr 1fr;
	height: 100vh; /* nastavíme výšku gridu přes celou stránku */
}

